/* Agrega aqui tu CSS */

.texto1{
width: 220px;
border: 2px solid red;
padding: 8px;
margin: 10px;
}

.texto2{
width: 220px;
border: 2px solid red;
padding: 8px;
margin: 10px;
}

.texto3{
width: 220px;
border: 2px solid red;
padding: 8px;
margin: 10px;
}